extends layout

block content
  .row.banner
    .col-12
      h1 Bookstore

  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
          p Online Bookstore at Your Fingertips

          .card.card-primary
            .card-block
              h2.card-title Digital Features:
              p.card-text 24/7 Access: Shop and read books anytime, anywhere.
              p.card-text Instant Downloads: Purchase and download e-books immediately after checkout.
              p.card-text Reading App: Access your books on our dedicated mobile app for reading on the go.
              p.card-text Book Recommendations: Personalized suggestions based on your reading history.

          .card.card-primary
            .card-block
              h2.card-title Facilities
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Online Reading 
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Downloading Books
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Purchase Options

        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h2.card-title Featured Book
              img.img-fluid.rounded(src='https://www.bing.com/images/search?view=detailV2&ccid=WGKXvpbL&id=928C92119EDD19A402F9EF828C8EE04F9CE40570&thid=OIP.WGKXvpbLnO_2yY6ZijDZVgHaL0&mediaurl=https%3a%2f%2fassets.visme.co%2ftemplates%2fbanners%2fthumbnails%2fi_Fiction-Book-Cover_full.jpg&exph=2250&expw=1410&q=Featured+Book+Cover+image&simid=608018918655556390&FORM=IRPRST&ck=C1DFB95F3B6D1779C615CE9491C73CD0&selectedIndex=5&itb=0')

    .row
      .col-12
        .card.card-primary.review-card
          .card-block
            a.btn.btn-primary.float-right(href='/location/review/new') ➥ Add review
            h2.card-title Customer reviews
            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.reviewAuthor Mark 
                small.reviewTimestamp 07 February 2022
              .col-12
                p Decent selection of books, but I wish there were more titles available. The site can be a bit slow at times.

            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.reviewAuthor Jane Doe
                small.reviewTimestamp 26 June 2017
              .col-12
                p I had a great experience purchasing my favorite novels.

    .col-12.col-lg-3
      p.lead
        | Our bookstore is a great place for book lovers to find their next read.
      p
        |  If you've visited us and enjoyed your experience—or if you have suggestions for improvement—please leave a review to help fellow readers!