extends layout

block content
  .row.banner
    .col-12
      h1 Book Spot
      small &nbsp;Welcome to our bookstore application, your gateway to discovering and reading books that you love.

  // Listing 4.6 Complete template for app_server/views/locations-list.pug
  // Name of the listing and a link to the location
  // Uses Font Awesome icons to output a star rating
  // Uses Bootstrap’s badge helper class to display the distance away
  // Address of the location
  // Facilities of the location, output using Bootstrap’s badge classes
  // Figure 4.9 Onscreen rendering of a single location on the List page

  // Starts header area
  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location") Wings of Fire
            small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 
          p.address Author: Dr. A.P.J. Abdul Kalam
          p.facilities
            span.badge.badge-warning Explore Our Extensive Collection:
            span.badge.badge-warning Fiction Non-fiction Moral Stories

    .col-12.col-md-4
      p.lead Looking for a Book that Matches Your Interests?